ul a{
  font-family: sans-serif;
  font-weight: oblique;
  text-decoration: none;
  color: red;
  }
li
{
  display: inline;
  padding-right: 10px;

}
ul a:hover
{
  text-decoration: underline;
  color: #666;
  font-size: 30px;

}
